body {
    font-family: 'Cupra', sans-serif;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.col-12,
.col-6,
.col-md-12,
.col-md-6 {
    padding: 0;
    overflow: hidden;
}

.white {
    color: white;
}

.mainBody {
    background-color: #f5f5f5;
}

.headerModule {
    max-width: 1436px;
    margin: 0 auto 40px auto;
}

.videoKasten {
    height: 887px;
}

.color-red {
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-body {
    margin-top: 84px;
}

.container .row {
    margin: 0;
}

.kleineKachelAnfangLinksp {
    padding: 8px 0 0 4px;
}

.kleineKachelAnfangLinks {
    height: 444px;
}

.kleineKachelAnfangRechtsp {
    padding: 8px 4px 0 0;
}

.kleineKachelAnfangRechts {
    height: 444px;
}

.bg-kleineKachelRechts {
    background-image: url(../img/frau-hoch.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.bg-kleineKachelLinks {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.bg-grosseKachel {
    background-image: url(../img/frau-quer.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.sliderAnfangRechts {
    height: 435px;
}

.abstandbot {
    padding-bottom: 8px;
}

.abstandtop {
    padding-top: 4px;
}

.abstandrechts {
    padding-right: 4px;
}

.abstandlinks {
    padding-left: 4px;
}

.container {
    max-width: 1436px;
}

.videoKasten.col-12 .col-6 {
    padding: 0;
}

.kleineKachelTitel h3 {
    font-size: 30px;
}

.kleineKachelText p {
    font-size: 20px;
}

.kleineKachelLink {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

.max-width-cupra {
    max-width: 1436px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section {
    padding-top: 8em;
}

.hero-button button:hover {
    color: #343a40;
    outline: solid #343a40 2px;
    background-color: transparent;
}

.hero-section h3 {
    font-size: 48px;
    text-align: center;
}

.hero-img {
    text-align: center;
}

.hero-img img {
    width: 20%;
}

.hero-content {
    padding-top: 2em;
    text-align: center;
}

.hero-content p {
    font-size: 20px;
}

.hero-content button {
    font-size: 20px;
    border-radius: 0;
}

.smallheight {
    height: 337px;
}

.largeheight {
    height: 682px;
}

.modelverticaltile {
    padding: 0 4px 0 0;
}

.modelsquaretile {
    padding: 0 0 0 4px;
}

.modelsquaretile2 {
    padding: 8px 0 0 4px;
}

.modelhorizontaltile {
    padding: 0 0 0 4px;
}

.modelhorizontaltile2 {
    padding: 8px 0 0 4px;
}


/*Background-IMAGES*/


.bg-modelverticaltile {
    background-image: url(../img/model1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.bg-modelsquaretile {
    background-color: #003c4a;
    height: 100%;
    width: 100%;
    position: absolute;
}

.bg-modelhorizontaltile {
    background-image: url(../img/model2.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.bg-modelhorizontaltile2 {
    background-image: url(../img/model3.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.pos-relative-height {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pos-relative-height:hover .zoom {
    transform: scale(1.15);
    -webkit-transition: 0.19s ease-in-out;
    -moz-transition: 0.19s ease-in-out;
    -o-transition: 0.19s ease-in-out;
    -ms-transition: 0.19s ease-in-out;
    transition: 0.19s ease-in-out;
}

.smooth {
    transition: transform 330ms ease-in-out;
}

.content-model {
    position: absolute;
    padding: 24px;
    width: 100%;
    text-align: right;
    height: 100%
}

.content-model:hover .cta-modelcontent {
    display: block;
}

.content-modelsquaretile {
    text-align: left;
}

.cta-modelcontent a:hover {
    color: #a3a3a3;
    text-decoration: none;
}

.cta-modelcontent {
    text-align: left;
    display: none;
}

.cta-modelhorizontaltile a {
    right: 24px;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
}

.footer-cta-wrapper p {
    height: 48px;
}

.footer-background {
    background-color: black;
    padding: 104px 32px 64px;
}

.footer-content-wrapper {
    background-color: #1b1b1b;
    padding: 104px 0;
}

.footer-header {
    margin-bottom: 80px;
    max-height: 88px;
}

.footer-header h3 {
    font-size: 40px;
    line-height: 1.1;
}

.footer-cta-first {
    border-right: solid white 1px;
    padding: 0 74px;
}

.footer-cta-second {
    border-right: solid white 1px;
    padding: 0 74px;
}

.footer-cta-third {
    padding: 0 74px;
}

.footer-cta-button a {
    width: 100%;
    background-color: #dbd3cb;
    color: black;
    border-radius: 0;
}

.footer-cta-button a  a:hover {
    color: #ffffff;
    text-decoration: none;
}

video {
    object-fit: cover;
}

.btn-outline-light:hover {
    background-color: transparent;
    color: white;
}

.video-content {
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.cta-videocontent a {
    align-items: center;
    border-radius: 0;
}

.cta-videocontent a:hover {
    outline: solid white 2px;
}


/*Media-Queries*/

@media screen and (max-width: 768px) {
    .modelverticaltile {
        padding: 0;
    }
    .modelhorizontaltile {
        padding: 0;
    }
    .modelhorizontaltile2 {
        padding: 0;
    }
    .modelsquaretile {
        padding: 0;
    }
    .kleineKachelAnfangLinksp {
        padding: 0;
    }
    .kleineKachelAnfangRechtsp {
        padding: 0;
    }
    .videoKasten {
        height: 101vw;
    }
 
    .footer-cta-wrapper .col-md-4 {
        padding-bottom: 4em;
    }
    .tilelayout div:first-child .largeheight {
        height: 100%;
    }
}